dist
dist-*
cabal-dev
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack-work/
cabal.project.local
gloss-examples-1.10.2.4
test-FieldTrip/FieldTrip-0.2.7.tar.gz
test-FieldTrip/FieldTrip-0.2.7/
test-FieldTrip/graphicsFormats-0.1/
